<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="Content/css/styles.css">
    <title>Mad Libs!</title>
  </head>
  <body>
    <div class="container">
      <form action="/story">
        <div class="form-group">
          <label for="adjective1">Adjective</label>
          <input class="form-control" id="adjective1" name="adjective1">
        </div>
        <div class="form-group">
          <label for="adjective2">Adjective</label>
          <input class="form-control" id="adjective2" name="adjective2">
        </div>
        <div class="form-group">
          <label for="person">Person</label>
          <input class="form-control" id="person" name="person">
        </div>
        <div class="form-group">
          <label for="pluralNoun">Plural noun</label>
          <input class="form-control" id="pluralNoun" name="pluralNoun">
        </div>
        <div class="form-group">
          <label for="noun1">Noun</label>
          <input class="form-control" id="noun1" name="noun1">
        </div>
        <div class="form-group">
          <label for="noun2">Noun</label>
          <input class="form-control" id="noun2" name="noun2">
        </div>
        <div class="form-group">
          <label for="verb">Verb</label>
          <input class="form-control" id="verb" name="verb">
        </div>
        <div class="form-group">
          <label for="vegetable">Vegetable</label>
          <input class="form-control" id="vegetable" name="vegetable">
        </div>
        <div class="form-group">
          <label for="color">Color</label>
          <input class="form-control" id="color" name="color">
        </div>
        <div class="form-group">
          <label for="noun3">Noun</label>
          <input class="form-control" id="noun3" name="noun3">
        </div>
        <button class="btn" type="submit">Show my story</button>
      </form>
    </div>
  </body>
</html>
